client/resources/
client/test_resources/example_maven_projects/
client/test_resources/repos

server/resources
server/test_resources
server/tests

rq/resources
rq/test_resources

rq3/

rq6/resources

**.jython_cache
**.python_cache
*.egg-info
*.eps
*.ipynb
