*.token
target/
**/test_resources/base_templates/**
**/test_resources/cand_templates/**
!**/test_resources/**/com.example.dep*
jars/
server/resources/*
!server/resources/compatibilities*
!server/resources/maven_repository
!server/resources/base_templates
server/resources/base_templates/*
!server/resources/base_templates/marco*
!server/resources/base_templates/marco*/target/
!server/resources/cand_templates
server/resources/cand_templates/*
!server/resources/cand_templates/marco*
!server/resources/cand_templates/marco*/target/
**/repos/
.jython_cache
rq/resources/logs/*
*.egg-info/
build/
__pycache__
*.swp
evaluatelinker/resources/reproducible-central
demo/**/target/**
*.backup
*_ignore
**/test_resources
**/tests
